.team,
.topwidget,
.footer,
.bottom-widget,
.path-frontpage .main-content,
.services,
.products,
.footer,
.features,
.services,
.price-table,
.copyright,
.clients{
	padding: 60px 0;
}

.main-content{
	padding: 0 0 50px 0;
}

.team,
.features,
.products,
.price-table{
    background: #f6f6f6;
    text-align: center;
}

.features{
	background-color: #fff2e0;

	.region{
		background: #fff;
		@include border-radius(5px);
		overflow: hidden;
		@include box-shadow(1px 2px 1px 1px #e8e8e8);
	}
}

.footer{
	background: #04def0;
	color: #a2a2a2;
	background: url(../images/bg-clients.jpg);

	tbody tr:hover, tbody tr:focus {
	    background: none;
	}
}

.clients{
	.region{
		ul {
			li{
				display: inline-block;
				width: 100%;
				text-align: center;

				img{
					max-width: 200px;
				}
			}
		}
	}
}

.services{
	text-align: center;
}

.top-message{

}

/* Testimonials */

.testimonials-wrap{
	background: #fafafa;
	border-top: solid 1px #e3e3e3;
	border-bottom: solid 1px #e3e3e3;
	padding: 20px 0;
	text-align: center;
	font-size: 1em;
	line-height: 160%;
}

.region-testimonials{
	max-width: 600px;
	margin: 0 auto;
}

.testimonials-pic{
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 10px;
}

.testimonials-pic img{
	@include border-radius(50%);
}

.testimonials-author{
	padding: 0 5px;
	font-size: .75em;
	color: #555;
}

/*Price*/

.price-table{
	.card-header{
		border: 0;
    	padding: 20px 0;
	}

	ul li {
	    list-style: none;
	    border-bottom: 1px solid #eee;
	    padding-bottom: 10px;
	    margin-bottom: 10px;
	}
}

/*Front Page*/

.path-frontpage .feed-icon{
 	display: none;
}

/*team*/

.team{
	.team-list{
		.region{
			background: #efefef;
			overflow: hidden;
			padding: 10px;
			border: 1px solid #eaeaea;
		}
	}
}


/*Bottom Widgets*/

.bottom-widget{
	background: #fff;

	h2.title, *{
	  color: #7964ad;
	}

}

.path-frontpage .bottom-widgets{
	padding: 20px 0;
}

