@import "variables-and-mixins";

@media (min-width: 576px){
  .container {
    max-width: 570px;
  }
}

@media (min-width: 767px) {

  .container {
    max-width: 1140px;
  }

  .team,
  .topwidget,
  .footer,
  .bottom-widget,
  .path-frontpage .main-content,
  .services,
  .products,
  .footer,
  .features,
  .services,
  .price-table{
    /*padding: 50px 0;*/
  }

  .navbar-toggle{
    display: none;
  }

  .user-logged-in .main-header{
    position: relative;
  }

  /*flexslider*/

  .flexslider {

    .slider-caption{ display: block; }

    .flex-direction-nav{
      display: block;
      margin-top: -24px;
    }

  }

  .clients{
    .region{
      ul {
        li{
          width: 24%;
        }
      }
    }
  }
  
  .testimonials-wrap{ padding: 75px 0 55px; }

  .footerwidget img.left{
    float: left;
    margin: 10px 10px 0 0;
  }

  .region-search{
    float: right;
    width: 200px;
    padding: 16px 0;
  }

  .navbar-toggle-close{
    display: none;
  }

  .region-primary-menu{
    display: inline-block !important;
    width: auto;
    margin: 0;
    background: none;
    border-radius: 5px;
    vertical-align: middle;
    float: right;
    position: static;

    ul{
      border: 0;
      float: right;

      ul{
        background: #fff;
        background: $desktopMenuDropDownBg;
        border-radius:5px;

        li a{
          color: #fff;
          padding: 18px 15px;
        }

        li a:hover,
        li a:focus,
        li a:active,
        li a.highlighted{
          color: #eaa1ff;
          padding: 18px 15px;
        }

        li{
          border-bottom: 1px solid rgba(255, 255, 255, 0.13);
          a{ 
            color: $desktopMenuTextColor;
          }
        }
      }      
    }

    li{
      border: 0;

      a{
        background: none;
        border: 0;
        font-weight: 400;
        color: #435a6b;

        span.sub-arrow {
          padding: 0;
          top: 28px;
          margin-top: 0;
          bottom: 2px;
          right: 2px;
          margin-left: -5px;
          left: auto;
          width: 0;
          height: 0;
          border-width: 4px;
          border-style: solid;
          border-color: #000 transparent transparent transparent;
          font-size: 2em;
          line-height: 100%;
        }
      }

      li{
        span.sub-arrow {
          top: 22px;
          border-color: #0000 #0000 #0000 #fff;
          right: 5px;
        }
      }

    }
  }

  .carousel-caption p,
  .carousel-caption h3{
    display: block;
  }

  .carousel-caption p:last-child{
    margin: 0;
  }

  .carousel-caption{
    background-color: #fff;
    background: rgba(0, 0, 0, 0.84);
    color: #ddd;
    text-shadow: none;
    padding: 20px;
    top: 20%;
    left: 10%;
    bottom: auto;
    width: 30%;
    text-align: left;
  }

  .comment-wrap{

    .author-details{ width: 10%; }

    .author-comments{ width: 90%; }

  }

  .social-media{
    padding: 0px 0;
    text-align: right;
  }

}
